.toolbar {
    min-height: 56px;
    @media (min-width: 0px) and (orientation: landscape) {
      min-height: 48px;
    }
    @media (min-width: 600px) {
      min-height: 64px;
    }
  }
  
  .content {
    flex-grow: 1;
    background-color: #ffffff; /* You can replace this with your desired default background color */
    padding: 24px; /* You can adjust the padding according to your needs */
  }
  
  .root {
    flex-grow: 1;
  }
  